<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanjeon</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

        <link rel="stylesheet" href="EstilospagePrincipal.css">
    <link rel="stylesheet" href="Scripts.js">
    <link rel="stylesheet" href="EstiloPruebasProductos.css">
    <script src="Scripts.js" type="module"> </script>
    
</head>

<body>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    

    <div>
        <nav class="navbar">

            <div class="container-fluid justify-content-between">
                <nav class="navbar">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/">
                            <img src="Imagenes/logo.png" alt="Logo" width="50" height="30"
                                class="d-inline-block align-text-top">
                            Wanjeon
                        </a>
                </nav>

                <nav class="navbar navbar-expand ">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/pagenosotrosinformacion">Nosotros</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link " aria-current="page" href="PageProductos">Productos Afiliados</a>
                                </li>
                                
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle-split" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">

                                            Servicios
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="ListaAsesores">Asesorias</a></li>
                                            <li><a class="dropdown-item" href="catalogotrat">tratamientos</a></li>
                                            <li><a class="dropdown-item" href="#"></a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>



                <div class="dropdown">
                    <button class="btn dropdown-toggle-split" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">

                        <img src="Imagenes/usuarionuevo.png" alt="" id="imagen_usuario">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/profile">Mi cuenta</a></li>
                        <li><a class="dropdown-item" href="/tuscitas">Citas Programadas</a></li>
                        <li><a class="dropdown-item" href="/login"> Inicio Sesion</a></li>
                        <li><a class="dropdown-item" href="logout"> Cerrar Sesion</a></li>

                    </ul>

                    <a href="/Formulario">
                        <button class="btn " type="button">Realiza tu cita!! </button>
                    </a>
                </div>




            </div>



        </nav>

    </div>




    <div class="contenederprincipal">
        <div class="container">
            

            <h2 class="title_productos">Productos</h2>
            
            <!--Fila -->
                <div class="row" >
                    {{#each productos}}
                        
                    
                        
                        <!--Columna -->
                        <div class="col">
                            <div class="card" >
                                <h5 class="card-discount"> descuento= {{this.descuento}} % </h5>
                                <img src="../productos/{{this.imagen}}.jpg" class="card-img-top" alt="..." >
                                <div class="card-body" >
                                    <h5 class="card-title">{{this.nombre}}</h5>
                                    <p class="card-amount"> {{this.cantidad}}</p>
                                    <h6 class="card-price"> {{this.precio}} COP </h6>
                                    <a href="#" class="btn2 btn-primary">Ir a tienda</a>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            
            
            <div class="row">
                <div class="col-12">
                    <div id="pagination-buttons"></div>
                </div>
            </div>
        </div>

    </div>





</body>

<footer>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Wanjeon
                        </h6>
                        <p>
                            see you well,feel good
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Products
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Angular</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">React</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Vue</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Laravel</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            INFO
                        </h6>
                        <p>
                            <a href="/NosotrosInfo" class="text-reset">About us
                            </a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Settings</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Orders</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Help</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i> Carrera 32 #23-57</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            WanjeonOficial@hotmail.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> +6565656</p>
                        <p><i class="fas fa-print me-3"></i> 5453454</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

</footer>
</html>